<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";

export default {
  page: {
    title: "Tambah Whatsapp Blaster",
    meta: [{ name: "description", content: appConfig.description }],
  },
  components: { Layout, PageHeader },
  data() {
    return {
      title: "Tambah Whatsapp Blaster",
      items: [
        {
          text: "Whatsapp Blaster",
          href: "/whatsapp-blaster",
        },
        {
          text: "Tambah",
          active: true,
        },
      ],
      form: {
        gender: "",
        finishedClass: "",
        utm: "",
        rangeProfit: "",
      },
      gendersList: [
        { name: "Laki-Laki", value: "MALE" },
        { name: "Perempuan", value: "FEMALE" },
      ],
      dummyFinishedClassesList: [
        {
          name: "Laris jualan di instagram",
          value: "Laris jualan di instagram",
        },
        {
          name: "Sukses jualan di tokopedia",
          value: "Sukses jualan di tokopedia",
        },
        {
          name: "Copywriting jualan",
          value: "Copywriting jualan",
        },
        {
          name: "Banjir order shopee",
          value: "Banjir order shopee",
        },
      ],
      dummyUtmsList: [
        { name: "google", value: "google" },
        { name: "facebook", value: "facebook" },
        { name: "haibolu", value: "haibolu" },
      ],
      dummyRangeProfitsList: [
        { name: "Kurang dari Rp 1 juta", value: "Kurang dari Rp 1 juta" },
        { name: "Rp 1 juta - Rp 5 juta", value: "rp 1 juta - Rp 5 juta" },
        {
          name: "Rp 5 juta - Rp 10 juta",
          value: "Rp 5 juta - Rp 10 juta",
        },
        {
          name: "Rp 10 juta - Rp 20 juta",
          value: "Rp 10 juta - Rp 20 Juta",
        },
        {
          name: "Rp 20 juta - Rp 30 juta",
          value: "Rp 20 juta - Rp 30 juta",
        },
        {
          name: "Lebih dari Rp 30 juta",
          value: "Lebih dari Rp 30 juta",
        },
      ],
      errors: {},
      loading: false,
      submitted: false,
    };
  },

  methods: {
    // eslint-disable-next-line no-unused-vars
    formSubmit(e) {
      this.submitted = true;
      this.loading = true;

      this.$router.push({ name: "list-whatsapp-blaster" });

      this.loading = false;
      this.submitted = false;
    },
  },
};
</script>

<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form class="needs-validation" @submit.prevent="formSubmit">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select
                      name="gender"
                      v-model="form.gender"
                      class="form-control"
                    >
                      <option value="">Pilih jenis kelamin</option>
                      <option
                        :value="gender.value"
                        :key="gender.value"
                        v-for="gender in gendersList"
                      >
                        {{ gender.name }}
                      </option>
                    </select>
                    <div v-if="errors['gender']" class="invalid-feedback">
                      <span>{{ errors["gender"] }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="gender">Kelas yang sudah diikuti</label>
                    <select
                      name="finishedClass"
                      v-model="form.finishedClass"
                      class="form-control"
                    >
                      <option value="">Pilih kelas yang sudah diikuti</option>
                      <option
                        :value="finishedClass.value"
                        :key="finishedClass.value"
                        v-for="finishedClass in dummyFinishedClassesList"
                      >
                        {{ finishedClass.name }}
                      </option>
                    </select>
                    <div
                      v-if="errors['finishedClass']"
                      class="invalid-feedback"
                    >
                      <span>{{ errors["finishedClass"] }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="utm">UTM</label>
                    <select name="utm" v-model="form.utm" class="form-control">
                      <option value="">Pilih UTM</option>
                      <option
                        :value="utm.value"
                        :key="utm.value"
                        v-for="utm in dummyUtmsList"
                      >
                        {{ utm.name }}
                      </option>
                    </select>
                    <div v-if="errors['utm']" class="invalid-feedback">
                      <span>{{ errors["utm"] }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rangeProfit">Rata-rata profit perbulan</label>
                    <select
                      name="rangeProfit"
                      v-model="form.rangeProfit"
                      class="form-control"
                    >
                      <option value="">Pilih rata-rata profit</option>
                      <option
                        :value="rangeProfit.value"
                        :key="rangeProfit.value"
                        v-for="rangeProfit in dummyRangeProfitsList"
                      >
                        {{ rangeProfit.name }}
                      </option>
                    </select>
                    <div v-if="errors['rangeProfit']" class="invalid-feedback">
                      <span>{{ errors["rangeProfit"] }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <button
                    :disabled="loading"
                    class="btn btn-primary mt-4 form-control"
                    type="submit"
                  >
                    <span v-if="!loading">Publish</span>

                    <div
                      class="spinner-border text-light spinner-border-sm"
                      role="status"
                      v-else
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
