<script>
import { required } from "vuelidate/lib/validators";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      username: "",
      password: "",
      submitted: false,
      errors: {
        username: "",
      },
    };
  },
  computed: {
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
  },
  created() {
    document.body.classList.add("auth-body-bg");
  },
  validations: {
    username: { required },
    password: { required },
  },
  methods: {
    ...mapActions("auth", {
      logIn: "logIn",
    }),

    // Try to log the user in with the username
    // and password they provided.
    async tryToLogIn() {
      this.errors = { username: "" };
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();

      const { username, password } = this;
      if (username && password) {
        const login = await this.logIn({ username, password });

        if (login.success) {
          window.location = "/";
        } else {
          this.errors = login.errors;
        }
      }
    },
  },
};
</script>

<template>
  <div>
    <div class="home-btn d-none d-sm-block">
      <a href="/">
        <i class="mdi mdi-home-variant h2 text-white"></i>
      </a>
    </div>
    <div>
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4">
            <div
              class="authentication-page-content p-4 d-flex align-items-center min-vh-100"
            >
              <div class="w-100">
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <div>
                      <div class="text-center">
                        <div>
                          <img
                            src="@/assets/images/logo/logo-text.png"
                            height="100"
                            alt="logo"
                          />
                        </div>

                        <h4 class="font-size-18 mt-4">Selamat datang !</h4>
                        <p class="text-muted">
                          Masuk untuk melanjutkan ke bolu.
                        </p>
                      </div>

                      <b-alert
                        :variant="notification.type"
                        class="mt-3"
                        dismissible
                        @dismissed="$store.dispatch('notification/clear')"
                        v-if="notification.message"
                        show
                        >{{ notification.message }}</b-alert
                      >

                      <div class="p-2 mt-5">
                        <form
                          class="form-horizontal"
                          @submit.prevent="tryToLogIn"
                        >
                          <div class="form-group auth-form-group-custom mb-4">
                            <i class="ri-mail-line auti-custom-input-icon"></i>
                            <label for="username">Username</label>
                            <input
                              type="text"
                              v-model="username"
                              class="form-control"
                              id="username"
                              placeholder="Masukan username"
                              :class="{
                                'is-invalid':
                                  (submitted && $v.username.$error) ||
                                  errors.username !== '',
                              }"
                            />
                            <div
                              v-if="errors.username !== ''"
                              class="invalid-feedback"
                            >
                              <span>{{ errors.username }}</span>
                            </div>
                            <div
                              v-if="submitted && $v.username.$error"
                              class="invalid-feedback"
                            >
                              <span v-if="!$v.username.required"
                                >username is required.</span
                              >
                            </div>
                          </div>

                          <div class="form-group auth-form-group-custom mb-4">
                            <i
                              class="ri-lock-2-line auti-custom-input-icon"
                            ></i>
                            <label for="userpassword">Password</label>
                            <input
                              v-model="password"
                              type="password"
                              class="form-control"
                              id="userpassword"
                              placeholder="Masukan password"
                              :class="{
                                'is-invalid': submitted && $v.password.$error,
                              }"
                            />
                            <div
                              v-if="submitted && !$v.password.required"
                              class="invalid-feedback"
                            >
                              Password is required.
                            </div>
                          </div>

                          <div class="mt-4 text-center">
                            <button
                              class="btn btn-primary w-md waves-effect waves-light"
                              type="submit"
                            >
                              Masuk
                            </button>
                          </div>
                        </form>
                      </div>

                      <div class="mt-5 text-center">
                        <p>
                          © 2021 Bolu
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="authentication-bg">
              <div class="bg-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
