<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          2020 © Bolu.id.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">
            Crafted with
            <i class="mdi mdi-heart text-danger"></i> by PT. Belajar Tumbuh
            Berbagi
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
